---
title: 'Apple Adds Optional Two-Step Verification'
date: 2013-03-22
draft: false
tags: [Apple, Apple, itunes, security]

---

> Your Apple ID is the key to many important things you do with Apple, such as purchasing from the iTunes and App Stores, keeping personal information up-to-date across your devices with iCloud, and locating, locking, or wiping your devices. Two-step verification is a feature you can use to keep your Apple ID as secure as possible.

Using Apple's free [Find My iPhone app](http://target.georiot.com/Proxy.ashx?tsid=528&GR_URL=https%253A%252F%252Fitunes.apple.com%252Fus%252Fapp%252Ffind-my-iphone%252Fid376101648%253Fmt%253D8%2526uo%253D4%2526partnerId%253D30) for iOS or a SMS/text message you can have a secondary level of authentication in order to access your Apple ID. Visit [support.apple.com](http://support.apple.com/kb/HT5570) for how to set it up. Unfortunately for my fellow Canadians, it's not being offered in Canada at this time:

> Initially, two-step verification is being offered in the U.S., UK, Australia, Ireland, and New Zealand.